<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Publishers.API.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Publishers.API.Services.Properties.Settings.MongoURL"
            connectionString="mongodb://localhost" />
    </connectionStrings>
    <applicationSettings>
        <Publishers.API.Services.Properties.Settings>
            <setting name="DatabaseName" serializeAs="String">
                <value>PublishersDb</value>
            </setting>
            <setting name="BookCollectionName" serializeAs="String">
                <value>Book</value>
            </setting>
        </Publishers.API.Services.Properties.Settings>
    </applicationSettings>
</configuration>