@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-lock fa-5x"></i>
                <div class="title-text">
                    <span class="title">Locked out</span>
                    <hr class="star-light">
                    <span class="description">This account has been locked out, please try again later.</span>
                </div>
            </div>
        </div>
    </div>
</header>
