@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-book fa-lg fa-5x"></i>
                <div class="title-text">
                    <span class="title">University of XYZ Library</span>
                    <hr class="star-light">
                    <span class="description">See the List of Books and Place Demand for the Books You Need</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Publishers' Books List</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    Publishers keep data about their books in a cloud hosted database. You can see the list of publishers books and place your demand for 
                    the books you need and like. University's site admin will check and see the list of all demands and will arrange for you.
                </p>
                <p>
                    You can register and create your account. After you log in you can see the list of books and place your demand.
                </p>
            </div>
        </div>
    </div>
</section>
