@{
    ViewBag.Title = "MessageSent";
}

<section></section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-envelope fa-4x"></i>

                <h1>Message Sent</h1>

                <hr class="star-primary">

                <p class="lead">Your message was successfully delivered. We will read the messasge and will get back to you as soon as possible!</p>
            </div>
        </div>
    </div>
</section>