
@{
    ViewBag.Title = "Search Submission Successful";
}

<section></section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Succeeded</h1>

                <hr class="star-primary">

                <p class="lead">
                    Your search has been successfully submitted to the search service.
                    You will recieve the results in your mailbox.
                </p>
            </div>
        </div>
    </div>
</section>
